/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
img{
  display: block;
  margin: 0 auto;
  height: 200px;
}
.container{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  margin: 10px;
  border: solid black 3px;
  border-radius: 4px;
  height: 750px;
  background: rgb(53 101 77);
}
.title{
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-flow: column;
  height: 250px;
  width: 400px;
  border: solid black 2px;
  border-radius: 4px;
  background: white;
}
.gamePlay{
  display:flex;
  align-items:flex-start;
  flex-flow: row wrap;
  height: 450px;
  width: 500px;
  border: solid black 2px;
  border-radius: 4px;
  background: white;
}
h2{
  width: 50%;
  text-align: center;
  font-size: 28px;
}

h4{
  width: 50%;
  text-align: center;
  font-size: 36px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
